<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/01b1b56d-e96f-4917-9c42-6f25cf904065/resourcegroups/WebApplication120210512022421ResourceGroup/providers/Microsoft.Web/sites/WebGame20210611084607</ResourceId>
    <ResourceGroup>WebApplication120210512022421ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webgame20210611084607.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webgame20210611084607.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebGame20210611084607</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebGame20210611084607</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebGameConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WebGame;Persist Security Info=True;User ID=lccnet;Password=lccnet" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WebGame;Persist Security Info=True;User ID=lccnet;Password=lccnet" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebGameConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WebGame;Persist Security Info=True;User ID=lccnet;Password=lccnet" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebGameConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WebGame;Persist Security Info=True;User ID=lccnet;Password=lccnet</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>